# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules

.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*

# testing
coverage

# production
**/build
**/dist
**/dist-esm

# misc
.DS_Store
.env

npm-debug.log*
yarn-debug.log*
yarn-error.log*

docker/**/postgres
docker/**/data

.idea
.eslintcache
lib
umd
*.log

/packages/adapter/config.json
/packages/auth/config.json
private.pem
