/* HorizontalNavbar.css */
.horizontal-navbar {
  background-color: #333; /* Background color of the navbar */
  height: 65px;
  top: 0px;
  width: 100%;
  min-height: 65px;
  left: 0px;
}

.horizontal-navbar li {
  padding: 10px;
  height: 100%;
  width: 20%;
}

.horizontal-navbar a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: color 0.3s ease;
  margin: 0px;
}

.horizontal-navbar a:hover {
  color: #ff85d8;
  font-size: 20px;
}

.nav-item {
  height: 65px;
}
